<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <title>Login Page</title>
</head>

<body class="bg-custom-1">
    <div class="container bg-transparent">
        <div class="px-5 py-3 position-absolute top-50 start-50 translate-middle shadow-lg rounded-3 my-4 bg-white w-25">
            <h3 class="text-center text-custom-4 mb-4">Login</h3>
            <form action="" method="post">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label text-custom-4">Username</label>
                    <input type="text" class="form-control" id="usernameInput">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label text-custom-4">Password</label>
                    <input type="password" class="form-control" id="passwordInput">
                </div>
                <div class="row gx-0 justify-content-between my-4 gy-3">
                    <button class="btn btn-sm bg-custom-4 col-md-5 text-white">Login</button>
                    <button class="btn btn-sm bg-custom-4 col-md-5 text-white">Register</button>
                </div>
            </form>
        </div>
    </div>
    <script src="assets/js/bootstrap.budle.min.js"></script>
</body>

</html>