<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Available Quiz</title>
</head>

<body class="bg-custom-1">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom-4">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline text-custom-1">Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 d-flex align-content-center">
                                <i class="bx bx-question-mark bx-sm bg-custom-1 rounded-3 me-3"></i><div class="ms-1 d-none d-sm-inline text-custom-2">Available Quiz</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 d-flex align-content-center">
                                <i class="bx bx-history bx-sm bg-custom-1 rounded-3 me-3"></i><div class="ms-1 d-none d-sm-inline text-custom-2">History Quiz</div>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <div class="container">
                    <h2 class="text-custom-4 mb-4">Available Quiz</h2>
                    <hr>
                    <div class="row g-4">
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                        <div class="col-md-4 p-2">
                            <div class="bg-custom-2 rounded-3 p-3 text-custom-3 shadow">
                                <h4 class="text-custom-4">Quiz CSS Pemula</h4>
                                <hr>
                                <p>Waktu : 10 menit</p>
                                <p>Pertanyaan : 5</p>
                                <a class="btn bg-custom-4 text-custom-1 btn-sm " href="#" role="button">Attemp Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>